body {
  font-family: 'Roboto', sans-serif;
  color: #080000;
  font-family: Roboto;
}

/* HEADER */
.logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  color: #000000;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-align: right;
}

.icon-blue {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-align: right;
}

.tel,
.mail {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.color {
  color: #2496f3;
}

.color-grey {
color: #757575;
}

.link:hover {
  color: deepskyblue;
}

.link-ref:hover,
.link-ref:focus {
  color: #2196f3;
}

.letter-black {
  color: #080000;
}

.firstbox {
  background-color: #2f303a;
  width: 1600px;
  height: 600px;
  top: 80px;
  left: -4px;
}

.secondbox {
  background-color: #2f303a;
  width: 1600px;
  height: 252px;
  top: 2158px;
}

.boton {
  background-color: #2196f3;
  width: 261px;
  height: 50px;
  top: 430px;
  left: 666px;
}

.letra {
  color: #ffffff;
}
.shadow {
  background-color: #f5f4fa;
}

ul {
  list-style: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

.icon-footer {
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
